.transaction-history {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 20px;
 
}

.transaction-history th,
.transaction-history td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  
}

.transaction-history th {
background-color: blue;
}


.transaction-history tr:nth-child(even) td {
  background-color: rgb(239, 237, 237); 
}